<header class="container-fluid py-3 mb-4 position-relative proHead border-bottom d-flex flex-wrap justify-content-between">
    <div class="col-md-4 d-flex align-items-center">
      <h3 class="text-dark text-decoration-none mb-0">Daily Blogger</h3>
    </div>
    <div class="col-md-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
      <ul class="nav flex-column flex-md-row">
        <li class="nav-item">
          <a class="nav-link link-secondary" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-secondary" href="/compose">COMPOSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-secondary" href="/about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-secondary" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </header>
  